{% extends 'base.html' %}

{% block content %}
    {% include 'projects/project_nav.html' %}

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'forum_category_list_view' projectPK=project.pk %}">Forums</a></li>
      <li class="breadcrumb-item"><a href="{% url 'forum_category_individual_view' projectPK=project.pk categoryPK=category.pk %}">{{ category.title }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'forum_topic_individual_view' projectPK=project.pk categoryPK=category.pk topicPK=topic.pk %}">{{ topic.title }}</a></li>
      <li class="breadcrumb-item">Edit</li>
    </ol>

    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Edit topic</legend>
            <div class="form-group">
                <label class="form-label mt-4">Topic Title</label>
                <input type="text" class="form-control" placeholder="e.g. 'How do I exit vim?'" name="title" value="{{ topic.title }}" required>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Topic Content</label>
                <textarea class="form-control" rows="8" placeholder="e.g. 'So, how do I exit vim?'" name="content" " required>{{ topic.content }}</textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"> </i> Save</button>
        </fieldset>
    </form>
{% endblock %}