{% extends 'base.html' %}

{% block content %}
    {% include 'projects/project_nav.html' %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Create a task</legend>
            <div class="form-group">
                <label class="form-label mt-4">Task Title</label>
                <input type="text" class="form-control" placeholder="e.g. 'Do a backflip'" name="title" required>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Description</label>
                <textarea class="form-control" rows="3" name="description" required></textarea>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Task Priority</label>
                <select name="priority" class="form-select">
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="H">High</option>
                    <option value="U">Urgent</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Issue Type</label>
                <select name="type" class="form-select">
                    <option value="F" selected>Feature</option>
                    <option value="B">Bug</option>
                    <option value="M">Modification</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label mt-4">Assignee</label>
                <select name="assignee" class="form-select">
                    {% for member in members %}
                        <option value="{{ member.username }}">{{ member.username }}</option>
                    {% endfor %}
                    {% for mod in mods %}
                        <option value="{{ mod.username }}">{{ mod.username }}</option>
                    {% endfor %}
                    <option value="{{ owner.username }}">{{ owner.username }}</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Create</button>
        </fieldset>
    </form>
{% endblock %}