{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Task Title" required>
        <textarea name="description" placeholder="Task Description" required></textarea>
        <select name="priority">
            <option value="S" selected>Small</option>
            <option value="M">Medium</option>
            <option value="H">High</option>
            <option value="U">Urgent</option>
        </select>
        <select name="type">
            <option value="F" selected>Feature</option>
            <option value="B" selected>Bug</option>
            <option value="M" selected>Modification</option>
        </select>
        <select name="assignee">
            {% for member in members %}
                <option value="{{ member.username }}">{{ member.username }}</option>
            {% endfor %}
            {% for mod in mods %}
                <option value="{{ mod.username }}">[M] {{ mod.username }}</option>
            {% endfor %}
            <option value="{{ owner.username }}">[O] {{ owner.username }}</option>
        </select>
        <input type="submit" value="Create">
    </form>
{% endblock %}