<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index_view' %}"><i class="fas fa-check-double"> </i> Boards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project_list_view' %}"><i class="fas fa-folder-open"> </i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project_create_view' %}"><i class="fas fa-plus"> </i> Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-life-ring"> </i> Support</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile_view' username=request.user.username %}"><i class="fas fa-user"> </i> {{ request.user }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_logout_view' %}"><i class="fas fa-sign-out-alt"> </i> Log out</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login_view' %}"><i class="fas fa-sign-in-alt"> </i> Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_register_view' %}"><i class="fas fa-user-plus"> </i> Register</a>
            </li>
        {% endif %}
      </ul>
      {% if request.user.is_authenticated %}
      <span class="d-flex">
          <a href="{% url 'settings_view' %}"><button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-cog"> </i></button></a>
      </span>
      {% endif %}
    </div>
  </div>
</nav>