<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index_view' %}"><i class="fas fa-check-double"> </i> Boards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project_list_view' %}"><i class="fas fa-folder-open"> </i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'project_create_view' %}"><i class="fas fa-plus"> </i> Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ticket_list_view' %}"><i class="fas fa-life-ring"> </i> Tickets</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if request.user.is_staff %}
                        <i class="fa fa-user-shield"> </i>
                    {% else %}
                        <i class="fas fa-user"> </i>
                    {% endif %}
                    {{ request.user }}
                </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'profile_view' username=request.user.username %}"><i class="fas fa-eye"> </i> View Profile</a>
                {% if unreadNotifications %}
                <a class="dropdown-item" href="{% url 'notification_list_view' %}"><i class="fas fa-envelope"> </i> Notifications <span class="badge rounded-pill" style="background-color: darkorange">!</span></a>
                {% else %}
                <a class="dropdown-item" href="{% url 'notification_list_view' %}"><i class="fas fa-envelope"> </i> Notifications</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'auth_changepassword_view' %}"><i class="fas fa-key"> </i> Change Password</a>
                <a class="dropdown-item" href="{% url 'auth_logout_view' %}"><i class="fas fa-sign-out-alt"> </i> Log out</a>
                <div class="dropdown-divider"></div>
                {% if request.user.is_staff %}
                    <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fas fa-tools"> </i> AdminCP</a>
                    <a class="dropdown-item" href="{% url 'admin_ticket_list_view' %}"><i class="fas fa-life-ring"> </i> Ticket Manager</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'settings_view' %}"><i class="fas fa-cog"> </i> Local Settings</a>
              </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_login_view' %}"><i class="fas fa-sign-in-alt"> </i> Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auth_register_view' %}"><i class="fas fa-user-plus"> </i> Register</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>