{% extends 'base.html' %}

{% block content %}
    {% include 'projects/project_nav.html' %}
    <h4><i class="fas fa-user-shield"> </i> Owner</h4>
        <a href="{% url 'profile_view' username=project.owner.username %}" style="text-decoration: none"><i class="fas fa-angle-right"> </i> {{ project.owner }}</a><br>
    <br>
    <h4><i class="fas fa-user-cog"> </i> Moderators</h4>
        {% if project.mods.count %}
            {% for mod in project.mods.all %}
                <a href="{% url 'profile_view' username=mod.username %}" style="text-decoration: none"><i class="fas fa-angle-right"> </i> {{ mod }}</a>
                {% if isOwner %}
                    (<a href="#">Kick</a> / <a href="{% url 'project_demote_view' projectPK=project.pk username=mod.username %}">Demote to Member</a>)
                {% elif isMod %}
                    (<a href="#">Kick</a>)
                {% endif %}
            {% endfor %}
            <br>
        {% else %}
            There are currently no moderators on this project.<br>
        {% endif %}
    <br>
    <h4><i class="fas fa-user-tag"> </i> Members</h4>
        {% if project.members.count %}
            {% for member in project.members.all %}
                <a href="{% url 'profile_view' username=member.username %}" style="text-decoration: none"><i class="fas fa-angle-right"> </i> {{ member }}<br></a>
                {% if isOwner %}
                    (<a href="#">Kick</a> / <a href="{% url 'project_promote_view' projectPK=project.pk username=member.username %}">Promote to Moderator</a>)
                {% elif isMod %}
                    (<a href="#">Kick</a>)
                {% endif %}
                <br>
            {% endfor %}
        {% else %}
            There are currently no members on this project.<br>
        {% endif %}
{% endblock %}