{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="wrapper">
            <div id="formContent">

                <!-- Icon -->
                <div class="first">
                    <br>
                    <h3><i class="fas fa-user-lock"> </i> Log in to Boards</h3>
                    <br class="unselectable">
                </div>

                <!-- Login Form -->
                  <input type="text" name="username" id="login" class="authText second" placeholder="Username">
                  <input type="password" name="password" id="password" class="authText third" placeholder="Password">
                  <input type="submit" class="fourth" value="Log In">

                <!-- Remind Passowrd -->
                <div id="formFooter">
                  <a class="underlineHover" href="mailto:admin@mateas.dev">Forgot Password?</a>
                </div>

              </div>
        </div>
    </form>
{% endblock %}