{% extends 'base.html' %}

{% block content %}
    <h3>
        {% if profile.is_staff %}
            <i class="fa fa-user-shield"> </i>
        {% else %}
            <i class="fa fa-user"> </i>
        {% endif %}
            {{ profile.username }} <small>(last login at {{ profile.last_login }})</small>
    </h3>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email Address</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="{{ profile.email }} ">
      </div>
      <label for="staticEmail" class="col-sm-2 col-form-label">Date joined</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="{{ profile.date_joined }} ">
      </div>
      <label for="staticEmail" class="col-sm-2 col-form-label">Total tasks solved</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="{{ tasksSolved }} ">
      </div>
    </div>
    <br>
{% endblock %}